{
    "semi": true,
    "singleQuote": true,
    "printWidth": 150,
    "tabWidth": 4,
    "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
    "tailwindFunctions": ["clsx", "cn"],
    "tailwindStylesheet": "resources/css/app.css",
    "overrides": [{ "files": "**/*.yml", "options": { "tabWidth": 2 } }]
}
